node_modules/

.env
.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store

coverage/
dist/
build/

.idea/
.vscode/

public/images/products/*
!public/images/products/.gitkeep
public/images/projects/*
!public/images/projects/.gitkeep
public/videos/projects/*
!public/videos/projects/.gitkeep
public/videos/hero/*
!public/videos/hero/.gitkeep
public/images/hero/*
!public/images/hero/.gitkeep
